
#firefly {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

#firefly img {
    max-width: 90%; 
    height: auto;
}

.accordion {
    text-align: justify;
    
}
.Definicion{
    background: linear-gradient(lightblue , white);
    text-align: justify;
    font-size: x-large;
    display: flex;
}