body {
    background-color: #67d2f3; 
}

#firefly {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

#firefly img {
    max-width: 60%; 
    height: auto;
}

.accordion {
    text-align: justify;

}